@import "src/app.scss";

:root {
  --primary-color: #ff6f61;
  --secondary-color: #ffcc5c;
  --dark-background: #1a1a2e;
  --text-color: #ffffff;
}
.about {
  padding: 5rem 0;
  background-color: var(--dark-background);
  color: var(--text-color);

  .about__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f0f0f5;
    margin-bottom: 2rem;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .about__image-container {
    flex: 1;
    display: flex;
    justify-content: center;

    .about__img {
      width: 100%;
      max-width: 350px;  /* Taille maximale pour les écrans plus larges */
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

      @media (max-width: 768px) {
        max-width: 250px; /* Réduction pour les écrans moyens */
      }

      @media (max-width: 480px) {
        max-width: 150px; /* Taille plus petite pour les écrans mobiles */
      }
    }
  }

  .about__text-container {
    flex: 1;
    text-align: left;
    padding: 0 1rem;

    .about__description {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 2rem;
      color: #e0e0e5;
    }

    .cv-button {
      display: inline-flex;
      align-items: center;
      padding: 1rem 2rem;
      background-color: var(--primary-color);
      color: var(--text-color);
      font-weight: 600;
      border-radius: 5px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff552e;
      }

      .download-icon {
        margin-left: 0.5rem;
        fill: #fff;
      }
    }
  }

  @media (max-width: 768px) {
    .about__content {
      flex-direction: column;

      .about__description {
        font-size: 1rem;
      }

      .cv-button {
        padding: 0.8rem 1.6rem;
      }
    }
  }

  @media (max-width: 480px) {
    .about__title {
      font-size: 2rem;
    }

    .about__description {
      font-size: 0.9rem;
    }

    .cv-button {
      padding: 0.6rem 1.2rem;
    }
  }
}
